################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/Hallie/Models/ggml-base.bin
/Hallie/Models/model.onnx
/Hallie/Models/tokenizer.json
/.vs
/Hallie/bin/x64
/Hallie/obj
/Hallie/Models/ggml-large-v2-q5_0.bin
/Hallie/Models/ggml-medium.bin
/Hallie/.env
/Hallie/Models/face_detection_yunet_2023mar.onnx
/Hallie/Models/haarcascade_frontalface_alt.xml
/Hallie/Models/haarcascade_frontalface_default.xml
/Hallie/Models/model_reconnaissance.yml
/Hallie/bin/Debug/net8.0-windows
/Hallie/bin/Debug/net8.0-windows
/ExternalServices/bin/Release/net10.0
/ExternalServices/obj
/Hallie_Batch/obj
/Hallie_Batch/Properties
/ReActAgentService/bin
/ReActAgentService/obj
/ExternalServices/bin
/ExternalServices/obj
/ExternalServices/bin/Debug/net10.0/ExternalServices.deps.json
/ExternalServices/bin/Debug/net10.0/ExternalServices.dll
/ExternalServices/bin/Debug/net10.0/ExternalServices.pdb
*.wav
/HallieCore/bin
*.onnx
*.bin
/HallieCore/Models/tokenizer.json
/HallieCore/Models/model_reconnaissance.yml
/HallieCore/Models/haarcascade_frontalface_default.xml
/HallieCore/Models/haarcascade_frontalface_alt.xml
/HallieCore/obj
/HallieDomain/bin/Debug/net10.0
/HallieDomain/obj
/HallieDomain/bin/Release/net10.0
/ExternalServices/piper/espeak-ng-data
/ExternalServices/piper/voices
/ExternalServices/piper
/Hallie/bin
